
.grid-container {
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 10px;
}
.card-image-container {
  position: relative;
}
.card-title {
  font-size: 1.25rem;
}
.card-dismiss{
  opacity: 0.5;
  font-size: 1.5rem;
  top: 20rem;
}


@media screen and (max-width: 400px) {
  .grid-container {
    grid-template-columns: auto;
    justify-content: center;
  }
}
