
.grid-container {
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 10px;
}
.card-image-container {
  position: relative;
}
.card-title {
  font-size: 1.25rem;
}
.favourites {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  top: 20rem;
  right: 3px;
  font-size: 1.25rem;
  position: absolute;
  color: var(--Favourite_Color);
  border-radius: 50%;
}
.favourites:hover {
  background-color: var(--Favourite_Hover_Color);
}

@media screen and (max-width: 400px) {
  .grid-container {
    grid-template-columns: auto;
    justify-content: center;
  }
}
